body {
    background-color: #252525;
    background-image: url('/imgs/SL-092619-23740-28.jpg');
    background-repeat: no-repeat;
    color: whitesmoke;
}

p {
    margin: 0;
}

hr {
    box-sizing: border-box;
    max-width: 50%;
    padding:0 40%;
    margin: 10px auto 20px;
    border: 1px solid gray;
    border-radius: 30px;
}

a:link, a:visited, a:active {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

header {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin: auto;
    flex-wrap: nowrap;
}

#titulo_principal {
    display: flex;
    justify-content: flex-start;
    max-width: 350px;
    min-width: 25%;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: nowrap;
    align-items: center;
}

#meu_nome {
    margin-left: 10px;
}

main {
    display: flex;
    max-width: 500px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

main>p {
    align-self: baseline;
}

section {
    background-color: #494949;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 95%;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 7px 15px 14px 15px;
}

section h1 {
    flex-basis: auto;
    min-width: 25%;
    flex-grow: 1;
    font-size: 1.2em;
    margin: 0 0 1% 0;
}

section p {
    flex-grow: 2;
    padding: 0px 1.2em;
    margin: 0.3em 0.1em 0.4em 0.1em;
}

section ul {
    flex-grow: 2;
    margin: 0;
}

section li {
    margin: 0.3em 0.1em 0.4em 0.1em;
}

aside {
    background:black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.contatos {
    padding: 0 20%;
    width: 33%;
}

.versao {
    width: 33%;
    text-align: end;
    font-size: 0.6em;
}